$warning-variant: #f69b29;

.bg-our-orange {
    background-color: $warning-variant !important;
}


.btn-our-orange {
    background-color: $warning-variant !important;
}

.btn-our-orange-invert {
    color: $warning-variant !important;
    background-color: black !important;
}